/* ===== NAVBAR WRAPPER ===== */
.navbar {
    width: 100%;
    height: 70px;
    background-color: #02191b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.12);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* ===== LEFT LOGO ===== */
.logo {
    width: 100px;
}

/* ===== CENTER NAVIGATION LINKS ===== */
.navLinks {
    display: flex;
    gap: 32px;
    align-items: center;
}

.navLinks a {
    color: #cfeff8;
    text-decoration: none;
    font-size: 16px;
    transition: .2s;
    font-weight: 500;
}

.navLinks a:hover {
    color: #ffffff;
}

/* ===== RIGHT BUTTONS ===== */
.rightSide {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 60px;
}

/* Buttons styling */
.registerBtn {
    color: #92cfe0;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.registerBtn:hover {
    color: #ffffff;
}

.loginBtn {
    text-decoration: none;
    font-weight: 600;
    background-color: #b9ecff;
    padding: 6px 14px;
    border-radius: 8px;
    color: #062a2b;
    transition: 0.2s;
}

.loginBtn:hover {
    background-color: #8fe2ff;
    transform: scale(1.05);
}